/* MainBanner.css */
.swiper-slide {
    width: auto; 
    height: 100%;
  }
  
  .swiper-slide img {
    height: 100%; 
    width: 100%;
    object-fit: cover;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }
  
  .swiper-button-prev {
    left: 10px;
  }
  
  .swiper-button-next {
    right: 10px;
  }
  